<h1>{{title}}</h1>
<p>  BIENVENIDOS AL CENTRO ESPECIALIZADO SALUD PARA TODOS  {{title}}</p>
<a href="/pacientes">Listar pacientes</a>
<a href="/medicos">Listar medicos</a>
<a href="/cita_medica">Listar cita_medica</a>
<a href="/citas">Solicitar cita</a>
